* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.faq-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 20px;
}

.faq-container {
  width: 100%;
  max-width: 1200px;
}

.page-title {
  font-size: 2.5em; 
  font-weight: bold;
  margin-bottom: 30px;
  color: #333; 
  text-align: center; 
}

.accordion {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
}

.faq-item {
  background: #fff; 
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.faq-item:hover {
  transform: scale(1.02);
}

.faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-title h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333; 
}

.faq-title span {
  font-size: 1.8em;
  transition: transform 0.3s;
}

.faq-title span.active {
  transform: rotate(45deg);
}

.faq-content {
  color: #666;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  font-size: 1em;
  padding: 10px 0;
  opacity: 0;
}

.faq-content.show {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.add-question-button,
.add-question-form button {
  background-color: #85662b; 
  color: white;
  border: none;
  padding: 12px 24px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  font-size: 1em; 
}

.add-question-button:hover,
.add-question-form button:hover {
  background-color: #6e511f; 
}

.add-question-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

.add-question-form input[type='text'] {
  flex: 1;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.add-question-form button {
  margin-left: 16px;
}

.additional-content {
  width: 100%;
  max-width: 1200px; 
  background-color: #fff; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 30px;
}

.additional-content h3 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333; 
  margin-bottom: 20px;
  text-align: center; 
}

.additional-content p {
  font-size: 1.2em; 
  color: #666; 
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify; 
}
