

.navbar {
  width: 100%;
  background-color: #f8f9fa; 
  padding: 10px 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.placement-portal {
  font-weight: bold; 
  margin-left: 10px; 
  font-size: 1.8em; 
  color: #333; 
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 15px;
  font-size: 18px;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
  background-color: #007bff; 
  color: #fff; 
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 12px;
  border-radius: 50px;
  margin-left: auto; 
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 1px solid #000; 
  outline: 0;
  color: #222;
  font-size: 16px;
  max-width: 150px;
  transition: max-width 0.3s;
  border-radius: 50px; 
}

.search-box input::placeholder {
  color: #222;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.toggle-icon {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.toggle-icon:hover {
  transform: rotate(20deg);
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar-container {
    justify-content: space-between;
  }

  .toggle-icon {
    margin-left: auto;
  }

  .search-box {
    margin-left: auto;
  }
}
