*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width:100vw;
  min-height: 100vh;
  background: #ced8ff;
  background: url('./assets/bgimg.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 

  transition: 0.5s;
}
.container.dark{
  background:#222;
}