*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width:100vw;
  min-height: 100vh;
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 

  transition: 0.5s;
}
.container.dark{
  background:#222;
}